.pagination {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.pagination a {
  cursor: pointer;
}

.pages {
  padding-left: 5px;
  padding-right: 5px;
}
