a,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: larger;
  font-weight: 800;
}

.nav-padding {
  padding-left: 10px;
}

.toolbar-purple {
  background-color: #EA80FC;
}

.toolbar-yellow {
  background-color: #FFFF8D;
}

.toolbar-green {
  background-color: #B9F6CA;
}