.movieSearch {
  outline: none;
  position: relative;
  margin-left: 133px;
  padding-left: 27px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  width: 690px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
