<!-- <div *ngIf="!loadingComplete" class="loading">Loading...</div> -->
<mat-spinner *ngIf="!loadingComplete" class="loading"></mat-spinner>

<mat-toolbar *ngIf="!authenticated">
  <span class="notification">Find some Movies to watch. Log in to get better Recommendation.</span>
</mat-toolbar>

<!-- <mat-toolbar *ngIf="authenticated && initialSetupReady && !userRecommendationReady">
  <span class="notification">We are preparing your Recommendation based on your preference. Once available we will update you.</span>
  <mat-spinner *ngIf="!loadingComplete" class="loading"></mat-spinner>
</mat-toolbar> -->

<div class="genreContainer" *ngIf="hideRecommendGenres">
  <genre-card *ngFor="let genre of recommendGenres" [genre]="genre" (genreSelected)="userSelectedGenre($event)"></genre-card>
</div>

<div class="container" *ngIf="!authenticated && recommendList">
  <movie-card *ngFor="let movie of recommendList" [movieId]="movie.movieId" disabled></movie-card>
</div>

<div class="container" *ngIf="authenticated">
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="getRecommendation($event)">
    <mat-tab label="Rating Based">
      <div *ngIf="ratingRecommendList?.length == 0" class="container big-message">
        Start rating movies to see rating based Recommendation
      </div>
      <div class="container rating-rec" *ngIf="ratingRecommendList">
        <div *ngFor="let movieList of ratingRecommendList">
          <div class="center">
            <p class="rec-title">{{movieList.rated_movie[0]}}</p>
            <span class="rating-star">
              <span>&nbsp;you rated&nbsp;(</span>
              <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                <path
                  d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z">
                </path>
              </svg>
              <span class="rating-value">{{movieList?.rated_movie[2]?.userRating}})</span>
            </span>
          </div>
          <div class="container">
            <movie-card *ngFor="let movie of movieList.recMovies" [movieId]="movie.movieId" disabled></movie-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Genre Based">
      <div class="container genre-rec" *ngIf="genreRecommendList">
        <div *ngFor="let genreList of genreRecommendList">
          <div class="center">
            <p class="rec-title">{{genreList.genre}}</p>
          </div>
          <div class="container">
            <movie-card *ngFor="let movie of genreList.recMovies" [movieId]="movie.movieId" disabled></movie-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Movie Based">
      <div class="center">
        <filter-movies (changed)="searchData($event)" (keydown.enter)="searchMovieRecommend($event)"></filter-movies>
        <div class="search-rec" *ngIf="movieSearchResult">
          <ul>
            <li *ngFor="let result of movieSearchResult">
             {{result}} 
            </li>
          </ul>
        </div>
      </div>
      <div class="container movie-rec" *ngIf="movieRecommendList">
        <movie-card *ngFor="let movie of movieRecommendList" [movieId]="movie.movieId" disabled></movie-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<button *ngIf="genresSelected.length > 0 && !initialSetupReady" mat-flat-button color="primary" [disabled]="genresSelected.length < 5"
  matBadge="{{genresSelected.length}}" matBadgePosition="after" matBadgeColor="accent" class="counter-btn" (click)="sendGenreSelection()">
  Continue
</button>
