.genreContainer {
  margin-left: 2em;
}

.loading {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 60%;
    margin-top: -100px;
    margin-left: -200px;

    font-size: 50px;
    font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notification {
  margin: 0 auto;
  color: pink;
}

.counter-btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.movie-rec {
  background-color: #E8F5E9;
}

.genre-rec {
  background-color: #F9FBE7;
}

.rating-rec {
  background-color: #F3E5F5;
}

.rec-title {
  align-items: center;
  display: inline;
  font-size: larger;
  font-weight: 800;
}

.center {
  text-align: center;
  margin: 2em;
}

.search-rec {
  position: absolute;
  background-color: whitesmoke;
  z-index: 4;
  width: 90%;
  border-radius: 6px;
  margin: 2px 0 0 12px;
}

.search-rec ul li{
  list-style-type: none;
  padding: 5px;
}

.rating-star {
  display: inline-flex;
  align-items: baseline;
  color: #f5c518;
  color: rgb(245,197,24);
}